@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-*: initial;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cyan-50: #f9fbfb;
  --color-cyan-100: #ddedee;
  --color-cyan-200: #bce5e6;
  --color-cyan-300: #95e2e5;
  --color-cyan-400: #67e5e9;
  --color-cyan-500: #43e2eb;
  --color-cyan-600: #0fdbe2;
  --color-cyan-700: #0ea9ae;
  --color-cyan-800: #0b777b;
  --color-cyan-900: #074648;
  --color-cyan-950: #031617;
  --color-pink-50: #fbf9fa;
  --color-pink-100: #ecdde6;
  --color-pink-200: #e2bdd4;
  --color-pink-300: #dd97c3;
  --color-pink-400: #dd6cb3;
  --color-pink-500: #e23ca5;
  --color-pink-600: #c9208b;
  --color-pink-700: #9b1a6c;
  --color-pink-800: #6e144d;
  --color-pink-900: #410C2E;
  --color-pink-950: #15040f;
  --color-primary-50: #f9f9fb;
  --color-primary-100: #dadceb;
  --color-primary-200: #b6bbdf;
  --color-primary-300: #8d96d9;
  --color-primary-400: #5f6dd8;
  --color-primary-500: #2c40db;
  --color-primary-600: #1428c4;
  --color-primary-700: #0719a2;
  --color-primary-800: #071372;
  --color-primary-900: #050c44;
  --color-primary-950: #020517;
  --color-purple-50: #faf9fb;
  --color-purple-100: #e5ddea;
  --color-purple-200: #d1bede;
  --color-purple-300: #be9ad6;
  --color-purple-400: #ab72d1;
  --color-purple-500: #9945d2;
  --color-purple-600: #8623c7;
  --color-purple-700: #681d99;
  --color-purple-800: #4a166c;
  --color-purple-900: #2c0e40;
  --color-purple-950: #0e0515;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --line-color: var(--color-purple-200);
  --line-color-dark: var(--color-purple-800);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-urbanist);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #ededed;
  }
}

body {
  @apply text-purple-800 dark:text-white;
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}


h1{
  @apply font-heading font-thin text-[72px] leading-[80%] sm:text-[72px] md:text-[92px] lg:text-[120px] xl:text-[160px] uppercase tracking-tighter text-cyan-700 dark:text-cyan-500 -ml-[0.5%];
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-heading text-pink-700 dark:text-pink-500  inline-block  font-semibold text-[34px] leading-[80%] sm:text-[42px] md:text-[52px] lg:text-[52px] uppercase;
  font-family: var(--font-heading), var(--font-sans), Arial, Helvetica, sans-serif;
}
.top-line{
  @apply before:absolute before:top-0 before:z-10 before:h-px before:w-[200vw] before:bg-purple-900/20 dark:before:bg-white/10 before:-left-[100vw];
}

.bottom-line{
  @apply after:absolute after:z-10 after:bottom-0 after:h-px after:w-[200vw] after:bg-purple-900/20 dark:after:bg-white/10 after:-left-[100vw];
}
.pattern-bg{
  @apply bg-[repeating-linear-gradient(45deg,#2c0e4030_0,#2c0e4030_1px,#ffffff00_1,#ffffff00_50%)] dark:bg-[repeating-linear-gradient(45deg,#4a166c_0,#4a166c_1px,#ffffff00_1,#ffffff00_50%)] bg-size-[8px_8px]  ;
}
.border-line{
  @apply border border-purple-900/20 dark:border-white/10; 
}